<p id="notice"><%= notice %></p>

<% if @act.image == nil %>
  <%= image_tag(@act.image) %>
<% end %>
<p>
  <strong>Giver:</strong>
  <%= @act.giver %>
</p>

<p>
  <strong>Message:</strong>
  <%= @act.message %>
</p>

<p>
  <strong>Instagram username:</strong>
  <%= @act.instagram_username %>
</p>

<%= link_to 'Edit', edit_uid_act_path(@act) %> |
